@using ChatClient.Handlers
@using ChatClient.Services
@using ChatClient.Services.SignalR.Hubs
@inherits LayoutComponentBase
@inject UserStateService UserStateService
@implements IDisposable

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @* <div class="top-row px-4">
        <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    public MainLayout()
    {
    }
    protected override async Task OnInitializedAsync()
    {
        await UserStateService.InitializeAsync();
        UserStateService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UserStateService.OnChange -= StateHasChanged;
    }

}