@using ChatClient.Models
@using Newtonsoft.Json
@inject UserState UserState
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ChatClient</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Register
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chatroom">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Chatroom
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Chat
            </NavLink>
        </div>
        @* Adjusted NavMenu component *@

        @foreach (var group in linkGroups)
        {
            <div @onclick="() => ToggleGroup(group)" class="nav-item px-3">
                <span class="nav-link">@group.Name <span class="@GetGroupIconClass(group)"></span></span>
            </div>
            @if (group.IsExpanded)
            {
                <div class="nav-group">
                    <!-- This is the scrollable container for each group -->
                    @if (UserState.Accounts.Any())
                    {
                        @foreach (var account in UserState.Accounts)
                        {
                            <div class="nav-item px-3" style="margin-left:15px;" @onclick:stopPropagation="true" @onclick="() => ChatClicked(account)">
                                <NavLink class="nav-link" href="javascript:void(0)">
                                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @account.Name
                                </NavLink>
                            </div>
                        }
                    }
                </div>
            }
        }
    </nav>
</div>

@code {
    public NavMenu()
    {

    }
    public async Task ChatClicked(Account account)
    {
        UserState.PreviousChatroom = UserState.CurrentChatroom;
        UserState.CurrentChatroom = account;
        NavigationManager.NavigateTo($"/chat/{account.AccountId}", false);

    }
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private List<LinkGroup> linkGroups = new List<LinkGroup>
    {
        new LinkGroup
        {
            Name = "Connections",
            IsExpanded = false,
            Links = new List<LinkItem>
            {
                new LinkItem { DisplayName = "Home", Url = "/", Icon = "bi bi-house-door-fill-nav-menu" },
                new LinkItem { DisplayName = "Register", Url = "register", Icon = "bi bi-person-fill-nav-menu" }
            }
        },
        new LinkGroup
        {
            Name = "Messages",
            IsExpanded = false,
            Links = new List<LinkItem>
            {
                new LinkItem { DisplayName = "Counter", Url = "counter", Icon = "bi bi-plus-square-fill-nav-menu" },
                new LinkItem { DisplayName = "Weather", Url = "weather", Icon = "bi bi-cloud-sun-fill-nav-menu" },
                new LinkItem { DisplayName = "Chatroom", Url = "chat", Icon = "bi bi-chat-dots-fill-nav-menu" }
            }
        }
    };

    private void ToggleGroup(LinkGroup group)
    {

        StateHasChanged();
        foreach (var item in UserState.Accounts)
        {
            Console.WriteLine(JsonConvert.SerializeObject(item));
        }
        group.IsExpanded = !group.IsExpanded;
    }

    private string GetGroupIconClass(LinkGroup group)
        => group.IsExpanded ? "bi bi-chevron-up" : "bi bi-chevron-down";

}